body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Nunito', sans-serif !important;
    background-color: #F6F6F6 !important;
    font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Nunito', sans-serif !important;
}

::selection {
  color: white !important;
  background:#01d38d !important
}

.max-width-height {
  width: 100%;
  height: 100%;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.form-control:focus {
  box-shadow: 0 0 1px 0.4px #00cc7a !important;
  border: none !important;
}

.color-tvdl {
  color: #00cc7a !important;
}

.font-tvdl {
  font-family: 'Nunito', sans-serif !important;
}

.text-bold {
  font-weight: bold !important;
}

.font-size-16 { 
  font-size: 16px !important;
}

.font-size-18 { 
  font-size: 18px !important;
}

.font-size-20 { 
  font-size: 20px !important;
}

.logo-sidebar {
  margin-left: 55px !important;
  margin-top: 0px !important;
}

.head-menu-sidebar {
  height: 56px;
}

.react-datepicker__header select {
  font-size: 14px;
  padding: 3px;
}

.btn:focus {
  box-shadow: none !important;
}

.text-header-screen { 
  color: #00cc7a;
  font-weight: bold;
}

.content-header {
  padding: 10px .5rem !important;
}

.modal-header h5 {
  margin-bottom: 0 !important;
}

.modal-header .close, .modal-header .mailbox-attachment-close {
  /* padding: 1rem; */
  /* margin: -1rem -1rem -1rem auto; */
  padding: 0 !important;
  margin: auto !important;
}

.modal .modal-content {
  border-radius: 5px !important;
}

a:focus {
  box-shadow: none !important;
}

table tbody tr {
  vertical-align: middle !important;
}
/* 
table thead th {
  color: #00cc7a !important;
} */

.main-header {
  background-color: white !important;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,0.1);
}

.main-sidebar {
  background-color: #353c48 !important;
}

.actived {
  background-color: #273246 !important;
  border-radius: 0 !important;
  /* padding: 0px; */
  /* margin: 0; */
}

.nav-item:hover {
  border-radius: 0 !important;
}

.os-content {
  padding: 0 !important;
}

.nav-link {
  border-radius: none !important;
}

.btn-success {
  box-shadow: 0 2px 6px #8edc9c;
  background-color: #54ca68 !important;
  border-color: #54ca68 !important;
}

.btn-primary {
  box-shadow: 0 2px 6px #82d3f8;
  background-color: #3abaf4 !important;
  border-color: #3abaf4 !important;
}

.btn-secondary {
  box-shadow: 0 2px 6px #c6cace;
  background-color: #b3b7bb !important;
  border-color: #b3b7bb !important;
}

.btn-success:hover {
  background-color: #3dbe52 !important;
  border-color: #3dbe52 !important;
}

.btn-primary:hover {
  background-color: #25a3dd !important;
  border-color: #25a3dd !important;
}

.btn-secondary:hover {
  background-color: #99a6b3 !important;
  border-color: #99a6b3 !important;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.bg-table {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  padding-top: 20px;
  padding-bottom: 55px;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

thead {
  background-color: rgba(0, 0, 0, 0.041);
}

.table thead th {
  border: none !important;
}

.table tbody td{
  border: none !important;
}

/* .text-table-hover:hover {
  padding-top: 0px !important;
} */